---
import type { MarkdownHeading } from 'astro';
import PostHeader from '@/components/blog/PostHeader.astro';
import TableOfContents from '@/components/blog/TableOfContents.astro';
import Layout from '@/layouts/Layout.astro';

interface Props {
  title: string;
  description: string;
  headings: MarkdownHeading[];
  pubDate: Date;
  updatedDate?: Date;
  ogImage?: string;
  keywords?: string[];
}

const {
  title,
  description,
  headings,
  pubDate,
  updatedDate,
  ogImage,
  keywords,
} = Astro.props;

// remark-rehype will always include a 'Footnotes' section if footnotes are present
// bug: astro will still load footnotes on pages where this condition is not met?
//      the conditions are fine, but when building and inspecting, the css is still there
if (headings.some((h) => h.text.toLowerCase().includes('footnote'))) {
  await import('@/styles/footnotes.css');
}
---

<Layout
  title={title}
  description={description}
  type='BlogPosting'
  pubDate={pubDate}
  updatedDate={updatedDate}
  ogImage={ogImage}
  keywords={keywords}
>
  <div class='relative w-full'>
    <aside class='fixed top-20 left-20 z-10 hidden lg:block'>
      <div class='w-[180px]'>
        <TableOfContents headings={headings} />
      </div>
    </aside>

    <main class='flex w-full justify-center px-6 pt-12 pb-10 md:pt-20'>
      <div class='w-full max-w-520'>
        <article class='prose-a:styled-link prose dark:prose-invert max-w-none'>
          <PostHeader title={title} pubDate={pubDate} />
          <slot />
        </article>
      </div>
    </main>
  </div>
</Layout>
